@charset "UTF-8";
/**
 * carousel
 * @authors Ping YF (koakumaping@163.com)
 * @date    2016-04-14 10:53:42
 * @version $Id$
 */
body {
    width: 100%;
    margin: 0;
}

.slider {
    height: 6rem;
    position: relative;
}

.slider > ul {
    display: block;
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;

    width: 100%;
    height: inherit;
    position: relative;
    overflow: hidden;
}

.slider > ul:before {
    content: '';
    display: table;
    clear: both;
}

.slider > ul:after {
    content: '';
    display: table;
    clear: both;
}

.slider > ul > li {
    width: 100%;
    height: inherit;
    font-size: 0;
    position: absolute;
    left: 0;
    z-index: -1;
    visibility: hidden;
}

.slider > ul > li:first-child {
    z-index: 1;
    visibility: visible;
}

.slider > ul > li > * {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.slider > ul > li img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.slider .focus-horizontal {
    /* Safari、Opera 以及 Chrome */
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;
    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;

    width: 100%;
    height: 0.533333rem;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    
    z-index: 1;
}

.slider .focus-horizontal .focus-horizontal-bullet {
    display: inline-block;
    width: 0.6rem;
    height: 0.1rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    background: rgba(255, 255, 255, 0.7);
}

.slider .focus-horizontal .focus-horizontal-bullet.active {
    background: rgba(202, 40, 40, 0.75);
}